@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto&family=Roboto+Condensed&family=Seaweed+Script&display=swap");
/* color palette */
/* fonts */
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F5C7A9;
  color: black;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  height: 500px;
  width: 400px;
}
.card img {
  height: 300px;
  width: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card h3, .card h4 {
  font-size: 24px;
}
.card p {
  text-align: center;
}
.card button {
  background-color: rgb(4, 119, 181);
  color: white;
  font-size: 20px;
  padding: 10px;
}

h1 {
  font-family: "Seaweed Script";
  font-size: 60px;
  margin-bottom: 0;
}

h2 {
  font-family: "Lato";
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 5px;
}

header {
  grid-area: header;
  text-align: center;
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: auto;
  grid-template-areas: "logo titulos navbar";
}
header navbar {
  display: flex;
  grid-area: navbar;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  font-size: 30px;
}
header a {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  color: black;
  transition: all 0.25s ease-in-out;
}
header a:hover {
  font-weight: 600;
  background-color: rgba(245, 199, 169, 0.168627451);
}

.containerLogo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerLogo img {
  height: 200px;
  width: 200px;
}

.containerTitles {
  grid-area: titulos;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

body {
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 250px auto 200px;
  grid-template-areas: "header header" "aside main" "footer footer";
  grid-gap: 10px;
  font-family: "Roboto";
}

aside {
  grid-area: aside;
  background-color: #F5C7A9;
  font-size: 30px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 10px;
  background-image: url("../media/brc.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
aside div {
  background-color: rgba(245, 199, 169, 0.168627451);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside a {
  color: white;
  text-decoration: none;
}
aside a:hover {
  color: #F5C7A9;
}
aside form {
  font-size: 20px;
}
aside form div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
aside form .form-check {
  background-color: rgba(0, 0, 0, 0);
}
aside form .buttons {
  padding-top: 10px;
  padding-bottom: 10px;
}
aside form .buttons .btn-primary {
  background-color: #D1512D;
  color: white;
  font-weight: 600;
  padding: 10px;
}
aside form .buttons .btn-secondary {
  color: black;
  padding: 10px;
}

#asideForm {
  font-size: 24px;
}

main {
  grid-area: main;
  background-color: #D1512D;
  color: white;
  font-size: 25px;
  padding: 25px;
  padding-top: 10px;
}
main h3 {
  font-family: "Roboto Condensed";
  margin: 0;
}

footer {
  grid-area: footer;
  color: white;
  font-size: 25px;
  background-image: linear-gradient(rgb(42, 42, 42), black);
  padding: 40px;
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: auto;
  grid-template-areas: "text logos";
}
footer #text {
  grid-area: text;
  display: flex;
  justify-content: left;
  align-items: center;
}
footer #logos {
  grid-area: logos;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #logos img {
  height: 60px;
  width: 60px;
  margin: 15px;
  transition: all 0.25s ease-in-out;
}
footer #logos img:hover {
  height: 70px;
  width: 70px;
}

#errorMsg {
  color: rgb(230, 196, 196);
  text-shadow: 0 0 5px red;
}

#contenedorCarrito {
  background-color: #F5C7A9;
  color: #411530;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 10px;
}
#contenedorCarrito .btn-danger {
  background-color: #D1512D;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin: 5px;
}

#facturacion {
  background-color: rgba(245, 199, 169, 0.168627451);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
#facturacion h2 {
  font-family: "Roboto Condensed";
  margin: 0;
}
#facturacion .btn {
  background-color: rgb(4, 119, 181);
  color: white;
  padding: 10px;
  font-size: 20px;
  margin: 5px;
}
#facturacion #displayTotal {
  font-weight: 600;
}/*# sourceMappingURL=styles.css.map */