h1{
    font-family: $title;
    font-size: 60px;
    margin-bottom: 0;
}
h2{
    font-family:$emphasis;
    font-weight: 300;
    font-size:30px;
    letter-spacing: 5px;
}
header{
    grid-area: header;
    text-align: center;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    grid-template-areas: "logo titulos navbar";
    navbar{
        display: flex;
        grid-area: navbar;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        font-size: 30px;
    }
    a{
        display: flex;
        align-items: center;
        padding: 20px;
        margin:10px;
        text-decoration: none;
        color: black;
        transition: all 0.25s ease-in-out;
        &:hover{
            //text-shadow: 0 0 2px $vibrant_transparent;
            font-weight: 600;
            background-color: $soft_transparent;
        }
    }
}
.containerLogo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 200px;
        width: 200px;
    }
}
.containerTitles{
    grid-area: titulos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}