
h1{
    font-family: $title;
    font-size: 60px;
    margin-bottom: 0;
}
h2{
    font-family:$emphasis;
    font-weight: 300;
    font-size:30px;
    letter-spacing: 5px;
}
header{
    grid-area: header;
    text-align: center;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    grid-template-areas: "logo titulos";
}
.containerLogo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 200px;
        width: 200px;
    }
}
.containerTitles{
    grid-area: titulos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}