@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto&family=Roboto+Condensed&family=Seaweed+Script&display=swap');
/* color palette */

$dark: #411530;
$vibrant:#D1512D;
$vibrant_transparent:#d1512d84;
$soft:#F5C7A9;
$soft_transparent:#f5c7a92b;
$light:#F5E8E4;

/* fonts */
$simple:'Roboto';
$narrow:'Roboto Condensed';
$title:'Seaweed Script';//'Bushscript BT';
$emphasis:'Lato'