@import "variables";
@import "cards";
@import "header";

body{
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: 250px auto 200px;
    grid-template-areas: "header header" "aside main" "footer footer";
    grid-gap:10px;
    font-family: $simple;
}

aside{
    grid-area: aside;
    background-color: $soft;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,50%);
    text-decoration: none;
    padding: 10px;
    background-image: url("../media/brc.jpg");    
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment: fixed;
    div{
        background-color: $soft_transparent;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: $soft;
        }
    }
    form{
        font-size: 20px;
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .form-check{
            background-color: rgba(0,0,0,0%);
        }
        .buttons{
            padding: 10px;
            .btn-primary{
                background-color: $vibrant;
                color:white;
                font-weight: 600;
                padding: 10px;
            }
            .btn-secondary{
                color:black;
                padding: 10px;
            }
        }
    }
}

#asideForm{
    font-size:24px;
}

main{
    grid-area: main;
    background-color: $vibrant;
    color: white;
    font-size: 25px;
    padding: 25px;
    padding-top: 10px;
}

footer{
    grid-area: footer;
    color: white;
    font-size: 25px;
    background-image: linear-gradient(rgb(42, 42, 42),black);
    padding: 40px;
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: auto;
    grid-template-areas: "text logos";
    #text{
        grid-area: text;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    #logos{
        grid-area: logos;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 60px;
            width: 60px;
            margin: 15px;
            transition: all 0.25s ease-in-out;
            &:hover{
                height: 70px;
                width: 70px;
            }
        }
    }
}

@import "carrito";